name: CI

on: [push]

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Cache composer dependencies
        uses: actions/cache@v2
        with:
          path: vendor
          key: composer-${{ hashFiles('composer.lock') }}
      - uses: php-actions/composer@v5
        with:
          command: validate
          args: --no-check-publish --no-check-version --strict
      - uses: php-actions/composer@v5
        with:
          php_version: 7.1
          version: 2
          progress: yes
      - name: PHPUnit Tests
        uses: php-actions/phpunit@v2
        with:
          configuration: test/phpunit.xml
          php_version: 7.1
          version: 7.5
